/* register.css */

body {
    text-align: center; /* Center align text content */
    background-color: antiquewhite;
}

.container {
    opacity: 0.8;
    width: 90%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width if necessary */
    margin: 10vh auto; /* Center vertically and horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333; /* Very dark gray */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    text-align: left; /* Align form elements to the left */
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

h2 {
    text-align: center; /* Center align the text */
    color: white; /* Ensure the text is readable on dark background */
}
